/*Styling image*/
.Yehenis_image{
    height:300px;
    width:500px;
    display:inline-flex;
    margin:5px auto;
    padding:20px;
}

/*Styling main heading*/
.main_head{
    margin-top:150px;
    margin-left: 30px;
}


.Y_h2{
    margin-bottom: 5px;
    padding: 20px;
}

.Y_paragraph{
    margin-top: 5px;
    align-items: center;
    padding: 20px;
}

/*Styling section*/
.sec1{
    align-items: center;
    margin: 30px; 
    align-items: center; /* Centers content horizontally */
}

/*Styling go to top button */
#gotothetop{
    display: block;
    margin: 40px auto; /* Centers horizontally */
    padding: 10px 20px;
    background-color: #ffffff;
    border-radius: 30px;
    color: #000000;
    border: none;
    cursor: pointer;
    text-align: center;
    width: 80px;
}

