.Yeheni-table-section {
    text-align: center;
    margin: 40px;
}

.Yeheni-table {
    width: 80%;
    margin: auto;
    border-collapse: collapse;
    box-shadow: 0px 4px 8px #000000;
}

.Yeheni-table th, .Yeheni-table td {
    border: 1px solid #ddd;
    padding: 12px;
    text-align: center;
}

.Yeheni-table th {
    background-color: #2852a7;
    color: white;
    font-weight: bold;
}

.Yeheni-table tr:nth-child(even) {
    background-color: #f9f9f9;
}

.Yeheni-table tr:hover {
    background-color: #d4e4ff;
}





/*styling for title section*/
.Yeheni-titlepage{
    background-color: #1a237e;
    color: white;
    padding: 20px;
    text-align: center;
}


/*Dropdown filter margin*/
.Yeheni-dropdown {
    margin:20px;
}


/*scrollable volunteer program cards*/
.Yeheni-scrollable-info {
    display: flex;
    overflow-x: auto; /* Allows horizontal scrolling */
    padding: 20px;
}


/*styling for individual program cards*/
.Yeheni-card {
    background-color: white;
    border-radius: 8px;
    margin-right: 20px;
    padding: 15px;
    min-width: 400px;
}


/*image sizes within the card*/
.Yeheni-card img {
    width: 400px;
    height: 400px;
}


.Yeheni-rating-input{
    width:100%;    
    height:auto;
}


/*styling for star rating section*/
.Yeheni-star{
    color: yellow;
    font-size: 30px;
}


/* button styling for volunteer info and applicaton*/
.Yeheni-info-button {
    background-color: #2852a7; /* Green */
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
}


/*hover effect for buttons*/
.Yeheni-info-button:hover{
    background-color: #214388; /* Darker green */
}


/*styling for review section*/
.Yeheni-ratings-reviews {
    padding: 20px;
}


/*individual review cards*/
.Yeheni-review-card {
    background-color: #e9ecef;
    padding: 15px;
    margin-bottom: 10px;
    margin:20px;
}


/*styling for the review feedback form*/
.Yeheni-feedback-form {
    padding: 20px;
}


/*text area for user review*/
.Y_text {
    width: 100%;    
    height: 100px;
}


/*styling for submit and cancel button*/
.Yeheni-Submit-button, .Yeheni-Cancel-button {
    margin-top: 10px;
}



.Yeheni-Submit-button {
    background-color: #007BFF; /* Primary button */
}



.Yeheni-Cancel-button {
    background-color: grey; /* Secondary button */
}



.Yeheni-Submit-button:hover, .Yeheni-Cancel-button:hover {
    opacity: 0.8; /* Simple hover effect */
}